@model RestaurantWebApp.DataTransferObject.UserDTO

@{
    ViewBag.Title = "Login";
}

@Styles.Render("~/Content/login")

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <section id="loginForm">
            <div class="card">
                <h2>Login</h2>
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="uname">
                                <b>Username</b>
                            </label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            </div>
                            <label class="col-md-2 control-label" for="psw">
                                <b>Password</b>
                            </label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register som en ny bruger", "Register")
                        </p>
                    }
                </div>
            </div>
        </section>
    </div>
   
</div>
<div>
    @Html.ActionLink("Gå til forside", "Index", "Home")
</div>
@* used for clientside validation through jquery validation and jquery validation unobtrusive libs  *@

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")


}