@model DataAccess.DataTransferObjects.ReservationDTO

@{
    ViewBag.Title = "Bordbestilling";
}
<h2>Bordbestilling</h2>
<hr />




<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.ReservationTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <fieldset>
                        @Html.TextBoxFor(model => model.ReservationTime, new { @type = "date", @class = "form-control datepicker", @id = "txtDate", @name = "date" })
                        @Html.ValidationMessageFor(model => model.ReservationTime, "", new { @class = "text-danger" })

                        @Html.DropDownListFor(m => m.TimeSlots, new SelectList(Model.TimeSlots, "_date","_time"),"Vælg tidspunkt", new { @class = "form-control" })
                    </fieldset>
                </div>
            </div>

            @* https://stackoverflow.com/questions/38995183/jquery-calendar-with-time-slots-selection/39244979 *@


            <div class="form-group">
                @Html.LabelFor(model => model.NoOfPeople, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoOfPeople, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoOfPeople, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tables, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <select name="Tables" id="Tables2" class="form-control" multiple>
                        @if (Model.Tables != null)
                        {
                            foreach (var x in Model.Tables)
                            {
                                <option value="@x.Id">Bord:  @x.TableNumber </option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Customer.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Customer.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer.Phone, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Deposit, "Depositum", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Deposit)
                        @Html.ValidationMessageFor(model => model.Deposit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/Booking/OrderFoods" class="btn btn-primary">
                        Bestil Mad
                        @* //TODO Mangler implmentation *@
                    </a>
                    <input type="submit" value="Gem og afslut" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <div>
            @Html.ValidationSummary()
        </div>

    }
</div>


<div>
    @Html.ActionLink("Gå til forside", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

