@model RestaurantWebApp.Model.FoodViewModel




@section Styles {
}

<div class="container">
    <h2>Madbestilling</h2>
    <hr />
    @using (Html.BeginForm("OrderFood", "Booking", FormMethod.Post ))

    {

        <div class="row">
            <div class="col">
                <div class="form-group">

                    <label class="col-md-5">Retter</label>
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.VmFoods, new SelectList(Model.VmFoods, "Id", "Name"), new { name = "tsFood", id = "tsFoods", size = "20" })
                        <input id="AddFoodsBtn" type="button" value="Vælg Madvarer" />
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="col-md-5"> Drikkevarer</label>
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.VmDrinks, new SelectList(Model.VmDrinks, "Id", "Name"), new { name = "tsDrinks", id = "tsDrinks", size = "20" })
                        <input id="AddDrinksBtn" type="button" value="Vælg drikkevarer" />
                    </div>
                </div>
            </div>



        </div>

        <div class="row" id="summaryDiv">
            <hr />
            <label class="col-md-5"> Valgt mad</label>
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.VmOrderFoodAndDrinks, new SelectList(Model.VmOrderFoodAndDrinks, "Id", "Name"), new {  Id = "summaryList", size = "20", style = "width:100%" })
                <input id="RemoveFromSummaryList" type="button" value="Fjern ret/retter" />
            </div>
        </div>

        <div>
            <input type="submit" value="Gem mad og drikke " class="btn btn-primary" />
        </div>

        <div>
            @Html.ValidationSummary()
        </div>
      
    }
</div>
<div>
    @Html.ActionLink("Gå til forside", "Index")
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AddDrinksBtn').click(function () {
                var txt = $("#tsDrinks option:selected").text();
                var vale = $("#tsDrinks ").val();
                $.each(vale,
                    function (key, val) {
                        $('#summaryList').append($("<option></option>").attr("value", val).text(txt));
                    });
            });
        });

        $(document).ready(function () {
            $('#AddFoodsBtn').click(function () {
                var txt = $("#tsFoods option:selected").text();
                var vale = $("#tsFoods").val();
                $.each(vale,
                    function (key, val) {
                        $('#summaryList').append($("<option></option>").attr("value", val).text(txt));
                    });
            });
        });

        $(document).ready(function () {
            $('#RemoveFromSummaryList').click(function () {
                $('#summaryList option:selected').remove();
            });
        });
    </script>

}