@*@using System.Web.Mvc.Html
 
    @model Tuple<List<RestaurantWebApp.DataTransferObject.FoodDTO>, List<RestaurantWebApp.DataTransferObject.FoodDTO>, List<RestaurantWebApp.DataTransferObject.FoodDTO>>*@

@*@model dynamic*@
@model Tuple<List<RestaurantWebApp.DataTransferObject.FoodDTO>, List<RestaurantWebApp.DataTransferObject.FoodDTO>, List<RestaurantWebApp.DataTransferObject.FoodDTO>, RestaurantWebApp.DataTransferObject.ReservationDTO>


@section Styles {
}

<div class="container">
    <h2>Madbestilling</h2>
    <hr />
    @using (Html.BeginForm("OrderFood", "Booking", FormMethod.Post))

    {
        <div class="row">
            
            <input type="hidden" value="@Model.Item4.Id" name="ReservationNumber"/>
            <div class="col">
                <div class="form-group">

                    <label class="col-md-5">Retter</label>
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.Item1, new SelectList(Model.Item1, "Id", "Name"), new {size = "20"})
                        @*@Html.ListBoxFor(m => m.Slf,Model.Slf, new { size = "20" })*@
                        <input id="AddFoodsBtn" type="button" value="Vælg Madvarer"/>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="col-md-5"> Drikkevarer</label>
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.Item2, new SelectList(Model.Item2, "Id", "Name"), new {size = "20"})
                        <input id="AddDrinksBtn" type="button" value="Vælg drikkevarer"/>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">
            <hr />
            <div class="form-group">
                <label class="col-md-5"> Valgt mad</label>
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.Item3, new SelectList(Model.Item3, "Id", "Name"), new { size = "20", style = "width:100%" })
                    <input id="RemoveFromSummaryList" type="button" value="Fjern ret/retter" />
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Gem mad og drikke" onclick="selectAll();" class="btn btn-primary" />
        </div>

        <div>
            @Html.ValidationSummary()
        </div>

    }
</div>
<div>
    @Html.ActionLink("Gå til forside", "Index")
</div>



@section Scripts {
    <script>


        function selectAll() {
            selectBox = document.getElementById("Item3");

            for (var i = 0; i < selectBox.options.length; i++) {
                selectBox.options[i].selected = true;
            }
        }

        $(document).ready(function () {
            $('#AddDrinksBtn').click(function () {
                var txt = $("#Item2 option:selected").text();
                var vale = $("#Item2").val();
                $.each(vale,
                    function (key, val) {
                        $('#Item3').append($("<option></option>").attr("value", val).text(txt));
                    });
            });
        });

        $(document).ready(function () {
            $('#AddFoodsBtn').click(function () {
                var txt = $("#Item1 option:selected").text();
                var vale = $("#Item1").val();
                $.each(vale,
                    function (key, val) {
                        $('#Item3').append($("<option></option>").attr("value", val).text(txt));
                    });
            });
        });

        $(document).ready(function () {
            $('#RemoveFromSummaryList').click(function () {
                $('#Item3 option:selected').remove();
            });
        });
    </script>

}