
@model RestaurantWebApp.Model.CustomViewModel


@section Styles {
}

<div class="container">
    <h2>Madbestilling</h2>
    <hr />
    @*@using (Html.BeginForm("OrderFood", "Booking", FormMethod.Post))*@
    @using (Html.BeginForm())

    {
        <div class="row">

            <input type="hidden" value="@Model.Reservation.Id" name="ReservationNumber" />
            <div class="col">
                <div class="form-group">

                    <label class="col-md-5">Retter</label>
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.ListFood, new SelectList(Model.ListFood, "Id", "Name"), new { size = "20" })
                        @*@Html.ListBoxFor(m => m.Slf,Model.Slf, new { size = "20" })*@
                        <input id="AddFoodsBtn" type="button" value="Vælg Madvarer" />
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label class="col-md-5"> Drikkevarer</label>
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.ListDrink, new SelectList(Model.ListDrink, "Id", "Name"), new { size = "20" })
                        <input id="AddDrinksBtn" type="button" value="Vælg drikkevarer" />
                    </div>
                </div>
            </div>



        </div>

        <div class="row">
            <hr />
            <div class="form-group">
                <label class="col-md-5"> Valgt mad</label>
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.OrderSummary, new SelectList(Model.OrderSummary, "Id", "Name"), new { size = "20", style = "width:100%" })
                    <input id="RemoveFromSummaryList" type="button" value="Fjern ret/retter" />
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="Gem mad og drikke" onclick="selectAllList();" class="btn btn-primary" />
        </div>

        <div>
            @Html.ValidationSummary()
        </div>

    }
</div>
<div>
    @Html.ActionLink("Gå til forside", "Index")
</div>



@section Scripts {
    <script>


        function selectAllList() {
            selectAll('OrderSummary');
            selectAll('ListDrink');
            selectAll('ListFood');
        }

        function selectAll(listName) {
            var selectBox = document.getElementById(listName);

            for (var i = 0; i < selectBox.options.length; i++) {
                selectBox.options[i].selected = true;
            }
        }

        $(document).ready(function () {
            $('#AddDrinksBtn').click(function () {
                var txt = $("#ListDrink option:selected").text();
                var vale = $("#ListDrink").val();
                $.each(vale,
                    function (key, val) {
                        $('#OrderSummary').append($("<option></option>").attr("value", val).text(txt));
                    });
            });
        });

        $(document).ready(function () {
            $('#AddFoodsBtn').click(function () {
                var txt = $("#ListFood option:selected").text();
                var vale = $("#ListFood").val();
                $.each(vale,
                    function (key, val) {
                        $('#OrderSummary').append($("<option></option>").attr("value", val).text(txt));
                    });
            });
        });

        $(document).ready(function () {
            $('#RemoveFromSummaryList').click(function () {
                $('#OrderSummary option:selected').remove();
            });
        });
    </script>
    
}